//tablet
@media (max-width: 767px) {
  .level {
    padding: 30px;
    &__text {
      font-size: 32px;
    }
    &__choosing {
      gap: 10px;
    }
    &__value {
      padding: 5px 30px;
      font-size: 48px;
    }

    //level
    .level {
        padding: 30px 16px;
        &__text {
            font-size: 32px;
        }
        &__choosing {
            gap: 10px;
        }
        &__value {
            padding: 5px 30px;
            font-size: 40px;
        }
    }

    // игровое поле
    .new-game {
        width: 170px;
        height: 40px;
        border-radius: 8px;
        font-size: 16px;
    }
    .header {
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        gap: 20px;
    }
  }
}

//mobile
@media (max-width: 499px) {
  .level {
    padding: 30px 16px;
    &__text {
      font-size: 28px;
    }
    &__value {
      padding: 0px;
      font-size: 40px;
    }
    &__start {
      font-size: 20px;
      width: 180px;
      height: 40px;
    }
  }
}
